@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    text-decoration: none;
    font-size: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2A2626;
    line-height: 1.6em;
    background-color: #F5F4F0;
    text-align: center; 
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Neucha', cursive;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: left;
}

h2 {
    font-family: 'Neucha', cursive;
    font-size: 60px;
    line-height: 1.2em;
    text-align: left;
}

h3 {
    font-family: 'Neucha', cursive;
    font-size: 34px;
    line-height: 1.2em;
    text-align: left;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

header::before {
    content: url(../images/background.png);
    position: absolute;
    left: 0;
    top: -40px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
}

header {
    position: relative;
    height: 960px;
}

main {
    background-color: #fff;
}

.orange {
    color: #fe8a02;
}

.first_heading {
    left: 165px;
    top: 60px;
    
    position: relative;
    z-index: 2;
}

.first_img {
    right: -100px;
    top: 10px;
    position: absolute;
    z-index: 0;
}

p {
    width: 540px;
    text-align: left;
}

.text {
    position: relative;
    left: 165px;
    width: 1110px;
}

.hed_im {
    margin-bottom: 0px;
    height: 525px;
}

.first_column {
    width: 540px;
    float: left;
}

.second_column {
    float: right;
    width: 540px;
}

.button {
    padding: 10px 24px;
    background-color: #fe8a02;
    color: #fff;
    position: absolute;
    width: 90px;
    font-weight: bolder;
    left: 570px;
    top: 220px;
}

h1.video_sec {
    position: relative;
    padding-top: 80px;
    margin-bottom: 30px;
    height: auto; 
}

p.video_sec {
    width: 100%;
    text-align: center;
}

.video_sec {
    top: -50px;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.video {
    position: relative;
    top: -40px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    z-index: 2;
}

.gridy {
    width: 1120x;
    margin-left: auto;
    margin-right: auto;
    background-color: #42413c;
    height: 680px;
    position: relative;
    top: -300px;
    padding: 200px 165px 100px 165px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-rows: 310px;
    align-items: stretch;
}

.gridy > a {
    height: 310px;
}

.heading {
    height: 310px;
}

.heading > h1 {
    font-size: 52px;
    color: #fff;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

.simplebox {
    background-color: #F5F4F0;
    padding: 24px;
    height: 262px;
}

.simplebox > p {
    color: #2A2626;
    position: relative;
    white-space: pre-wrap;
    width: 302px;
    padding-top: 4px;
    margin: 0;
    font-weight: 400;
}

.simplebox > h2 {
    font-size: 64px;
    color: #42413c;
    padding-bottom: 40px;
    position: relative;
    margin: 0;
}

.simplebox > h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.simplebox.second {
    height: 302px;
}

a.second {
    height: 350px;
}

.simplebox:hover {
    background-color: #fe8a02;
    color: #fff;
}

.simplebox:hover h2{
    color: #fff;
}

.simplebox:hover h3{
    color: #fff;
}

.simplebox:hover p{
    color: #fff;
}

.default::before {
    content: url(../images/background.png);
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
}

.default {
    padding: 100px 165px 100px 165px;
    height: 760px;
    position: relative;
    top: -400px;
    background-color: #F5F4F0;
    margin: 0;
}

.dark {
    background-color: #B09A81;
    color: #fff;
}

.dark > .headq {
    width: 540px;
    float: left;
}

.dark > .headq > h1 {
    color: #fff;
}

.dark > .headq > h2 {
    color: #fff;
}

.dark > .headq > h3 {
    color: #fff;
}

.dark > .howhed {
    background-color: #fff;
    color: #42413C;
}

.dark > .imges {
    float: right;
    margin: 0;
}

.headq > h3 {
    color: #908D8B;
    font-size: 24px;
    font-weight: 400;
    float: left;
    margin-bottom: 8px; 
    margin-top: 0;
    margin-right: 100px;
    width: auto;
}

.headq > h1 {
    font-size: 60px;
    color: #2A2626;
    font-weight: 400;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}

.headq > h2 {
    font-size: 34px;
    font-weight: 400;
    position: relative;
    top: auto;
    float: right;
    margin-top: 24px;
    width: 540px;
}

.headq {
    height: 300px;
    width: 540px;
    float: right;
}


.imges {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    float: left;
    margin-right: 30px;
    width: 540px;
    height: 405px;
}

.howhed {
    float: left;
    width: 1102px;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    background-color: #B09A81;
    color: #fff;
    padding: 4px 0 4px 8px;
    margin-top: 100px;
    margin-bottom: 20px;
}

footer {
    padding: 100px 165px 100px 165px;
    background-color: #fff;
    position: relative;
    top: -400px;
}

.email {
    width: 983px;
    height: 196px;
    padding-left: 52px;
    padding-right: 75px;
    background-color: #42413c;
    color: #fff;
    position: relative;
    margin: 0;
}

.email > h2 {
    width: 393px;
    font-size: 36px;
    font-weight: 400;
    padding-top: 55px;
    margin: 0;
    float: left;
}

.input {
    margin-top: 43px;
    float: right;
    height: 112px;
    width: 464px;
}

.input > h3 {
    float: left;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
    margin: 0 100px 8px 0;
}

form {
    height: 50px;
    width: 464px;
    
}

input[type='text'] {
    padding: 15px;
    float: left;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    width: 364px;
    height: 20px;
    background-color: #fff;
}

button {
    background-color: #fe8a02;
    width: 70px;
    height: 50px;
    float: right;
    border: none;
    outline: none;
    padding: 0;
}

button::before {
    content: url(../images/send.svg);
    padding: 0 23px;
}

#link {
    text-decoration: underline;
    color: #fff;
}

.input > p {
    font-size: 12px;
    color: #fff;
    float: left;
    margin-top: 8px;
    height: 19px;
}

.contacts {
    margin-top: 60px;
    display: block;
    width: 1110px;
    position: relative;
}

.contacts > p {
    line-height: 38px;
    font-size: 14px;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contacts > p > a {
    text-decoration: underline;
    color: #1085c5;
}